<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack" version="3.9.11" targetFramework="net35" />
  <package id="ServiceStack" version="3.9.32" targetFramework="net35" />
  <package id="ServiceStack.Common" version="3.9.11" targetFramework="net35" />
  <package id="ServiceStack.Common" version="3.9.32" targetFramework="net35" />
  <package id="ServiceStack.OrmLite.Sqlite.Mono" version="3.9.32" targetFramework="net35" />
  <package id="ServiceStack.OrmLite.Sqlite32" version="3.9.9" targetFramework="net35" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.9" targetFramework="net35" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.32" targetFramework="net35" />
  <package id="ServiceStack.Redis" version="3.9.11" targetFramework="net35" />
  <package id="ServiceStack.Redis" version="3.9.32" targetFramework="net35" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net35" />
  <package id="ServiceStack.Text" version="3.9.32" targetFramework="net35" />
</packages>