<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="PerformTestsOnInit" value="true"/>
		<add key="ConnectionString" value="~/App_Data/exampledb.sqlite"/>
		<add key="DefaultFibonacciLimit" value="10"/>
	</appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
