body { background: #000; }

#logo a { color: #fff; }
#header .description { color: #848282; }

.post .date .bg { background-image: url(../img/date.png); }
.post .date span { color: #feefcc; }

#main { background-image: url(../img/main-bg.jpg); }
#main-top { background-image: url(../img/main-top.jpg); }
#main-bot { background-image: url(../img/main-bot.jpg); }

#rss-link { background-image: url(../img/ico-rss.png); }

#sidebar h2 { background-image: url(../img/widgettitle.jpg); color: #fff; }
#sidebar ul ul li { background-image: url(../img/sidebar-list-arr.gif); border-bottom-color: #363636; }

#sidebar #searchform label { color: #ebab00; }
#sidebar #searchform .field-place { background-image: url(../img/searchform-field.gif); }
#sidebar #searchform .field-place .field { color: #ffe6a8; }

#respond .button { background-image: url(../img/button.gif); }

#nav ul li.current_page_item a,
#nav ul li.current_page_item a span { background-image: url(../img/nav-active.png); }

/* Custom Styles */
html, body { height: 100%; margin: 0 0 1px; padding: 0; } html {overflow-y:scroll; }/* force scrollbars */
.hidden { display: none; }
pre{margin:1em 0;font-size:12px;background-color:#eee;border:1px solid #ddd;padding:5px;line-height:1.5em;color:#444;overflow:auto;-webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
pre::-webkit-scrollbar{height:8px;width:8px;}
pre::-webkit-scrollbar-track-piece{margin-bottom:10px;background-color:#e5e5e5;border-bottom-left-radius:4px 4px;border-bottom-right-radius:4px 4px;border-top-left-radius:4px 4px;border-top-right-radius:4px 4px;}
pre::-webkit-scrollbar-thumb:vertical{height:25px;background-color:#ccc;-webkit-border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(255,255,255,1);}
pre::-webkit-scrollbar-thumb:horizontal{width:25px;background-color:#ccc;-webkit-border-radius:4px;}
pre code{padding:0!important;font-size:12px!important;background-color:#eee!important;border:none!important;}
code{font-size:12px!important;background-color:#f8f8ff!important;color:#444!important;padding:0 .2em!important;border:1px solid #dedede!important;}
h3, .post .entry h3 { font-size: 18px; }
blockquote{margin:1em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#555!important;}
ul { margin-bottom: 10px; }
.post .entry li > p { margin-bottom: 0; }
.post .entry ol + p	{ margin-top: 10px; }
.post .entry img { background: #fff; padding: 1px; border: solid 1px #E2E2E2; }
.post h2 { margin-bottom: 5px; }
#sidebar ul ul { padding: 0 0 10px 3px; }

#searchresults { border-top: 1px dotted #D2D2D2; border-bottom: 1px dotted #D2D2D2; padding: 10px 0; }
LI.active > a { color: #f1f1f1 !important; }

#about-section { float: right;margin: 30px;}